<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="studentlist.css">
    <title>All Students</title>
</head>

<body>
    <div class="container">
        <h2>All Students</h2>
        <div class="student-list" id="studentList">
            <div style="text-align: center;" th:each="student : ${students}" class="student-card">
                <h3 th:text="'Name: '+${student.name}"></h3>
                <p th:text="'Email: '+${student.email}"></p>
                <p th:text="'username: '+   ${  student.username}"></p>
                
                <button th:onclick="'editStudent(\'' + ${student.id} + '\')'">Edit</button>

                <button th:onclick="'viewProfile(\'' + ${student.id} + '\')'">View Profile</button>
            </div>
        </div>

        <div class="pagination" id="pagination">
        </div>
    </div>

    <script src="script.js"></script>
    <script>
        function editStudent(studentId) {
            window.location.href = 'edit-student.html?id=' + studentId;
        }
        var studentsPerPage = 5;
        displayStudents(1);

        generatePaginationLinks();

    </script>
</body>

</html>
